body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

.orange-color {
  color: orange;
}



.top-banner {
  display: flex;
  background-image: url(../img/top-banner.png);
  background-repeat: no-repeat;
}

.half-width {
  margin-left: 5%;
  padding-top: 20px;
  width: 50%;
}

.half-width img {
  width: 80%;
}

.link-button {
  color: beige;
  font-size: 20px;
  text-decoration: none;
  font-weight: 500;
  padding: 10px 40px;
  background-image: linear-gradient(orange, tomato);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.dream {
  display: flex;
  margin-top: 100px;
  background-image: url(../img/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}

#experience {
  margin-top: 50px;
  background-image: url(../img/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left 80%;
}

.ex-area {
  display: flex;
  margin-left: 5%;
}

.ex-half-width {
  width: 40%;
  padding: 20px 30px;
  background-color: blanchedalmond;

  margin-right: 50px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 30px;
  border-left: 5px solid;
  border-image: linear-gradient(blue, cyan) 27;


}